@charset "UTF-8";
*, :after, :before {
    box-sizing: border-box; }

html {
    font-size: 16px; }

body {
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.5;
    background: #fff;
    font-family: PingFang SC, Microsoft YaHei, STHeiti, WenQuanYi Micro Hei, sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

a {
    color: #333;
    text-decoration: none; }

.clearfix::after, .container::after, .sidebar .tags-cloud::after {
    display: block;
    content: "";
    clear: both; }

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative; }

.content {
    padding: 20px 0; }

.main {
    width: calc(100% - 320px);
    display: inline-block;
    position: relative; }

@media (max-width: 970px) {
    .main {
        width: 100%;
        box-shadow: none; } }

.sidebar {
    float: right;
    width: 280px; }

@media (max-width: 960px) {
    .sidebar {
        display: none; } }

@font-face {
    font-family: 'iconfont';
    /* project id 96542 */
    src: url("//at.alicdn.com/t/font_n3xm3lv282jfw29.eot");
    src: url("//at.alicdn.com/t/font_n3xm3lv282jfw29.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_n3xm3lv282jfw29.woff") format("woff"), url("//at.alicdn.com/t/font_n3xm3lv282jfw29.ttf") format("truetype"), url("//at.alicdn.com/t/font_n3xm3lv282jfw29.svg#iconfont") format("svg"); }

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer; }

.icon-linkedin:before {
    content: "\e60d";
    position: relative;
    top: -4px; }

.icon-twitter:before {
    content: "\e600"; }

.icon-weibo:before {
    content: "\e602"; }

.icon-stack-overflow:before {
    content: "\e603";
    font-size: .85em;
    position: relative;
    top: -4px; }

.icon-email:before {
    content: "\e605";
    position: relative;
    top: -2px; }

.icon-facebook:before {
    content: "\e601";
    font-size: .95em;
    position: relative;
    top: -2px; }

.icon-github:before {
    content: "\e606";
    position: relative;
    top: -3px; }

.icon-rss:before {
    content: "\e604"; }

.icon-google:before {
    content: "\e609"; }

.icon-zhihu:before {
    content: "\e607";
    font-size: .9em;
    position: relative;
    top: -2px; }

.icon-pocket:before {
    content: "\e856"; }

@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    src: local("Libre Franklin"), local("LibreFranklin-Regular"), url("../fonts/LibreFranklin/LibreFranklin.woff2") format("woff2"); }

@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    src: local("Libre Franklin Bold"), local("LibreFranklin-Bold"), url("../fonts/LibreFranklin/LibreFranklin-Bold.woff2") format("woff2"); }

.header .site-brand {
    padding: 20px 0; }

.header .site-title {
    margin: 5px 0;
    font-size: 36px; }

.header .site-title-link {
    font-family: "Libre Franklin", Georgia, serif;
    letter-spacing: 1.5;
    text-transform: uppercase; }
.header .site-title-link:hover {
    color: #f75357; }
.header .site-title-link::after {
    content: ".";
    color: #f75357;
    font-size: 44px; }

.header .site-nav {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1; }
.header .site-nav .site-menu {
    margin: 0;
    padding: 0; }
.header .site-nav .site-menu-item {
    display: inline-block;
    margin-right: 30px; }
.header .site-nav .site-menu-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 50px; }
.header .site-nav .site-menu-link:hover, .header .site-nav .site-menu-link:active, .header .site-nav .site-menu-link.active {
    color: #f75357; }

@media (max-width: 768px) {
    .header .site-nav .site-menu-item {
        margin-right: 20px; } }

.footer {
    padding: 30px 0;
    font-size: 14px;
    background: #f1f1f1;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); }
.footer .copyright {
    margin: 0;
    float: left; }
.footer .power-by {
    margin: 0;
    float: right; }
.footer a {
    color: #f75357; }
.footer a:hover {
    color: #da0a0f; }

@media (max-width: 768px) {
    .footer .copyright,
    .footer .power-by {
        display: block;
        float: none;
        text-align: center; } }

.post-list {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 2px; }
.post-list.archive {
    margin-top: 15px; }
.post-list .readmore {
    display: inline-block;
    margin: 10px 0;
    cursor: pointer; }
.post-list .readmore .readmore-link {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    color: #f52227;
    border: 1px solid #f75357;
    border-radius: 20px; }
.post-list .readmore .readmore-link:hover {
    color: #fafafa;
    font-weight: bold;
    background-color: #f75357;
    text-decoration: none; }

.post-row .post-date {
    font-size: 16px;
    margin-right: 20px;
    color: #888; }

.post-row .post-title {
    display: inline-block;
    margin: 0; }

.post-row .post-title-link {
    font-size: 17px;
    font-weight: 400;
    color: #333; }
.post-row .post-title-link:hover {
    color: #f75357; }

.post-item {
    padding: 20px 0; }
.post-item + .post-item {
    border-top: 1px solid #f1f1f1; }
.post-item .post-header .post-title {
    margin: 5px 0 10px;
    font-size: 26px; }
.post-item .post-header .post-title-link:hover {
    color: #666; }
.post-item .post-header .post-date,
.post-item .post-header .post-category {
    font-size: 15px;
    color: #888; }
.post-item .post-header .post-category {
    margin-right: 5px; }
.post-item .post-header .post-category:hover {
    color: #f75357; }
.post-item .post-header .post-categories {
    font-size: 15px;
    color: #888; }
.post-item .post-header .post-categories::before {
    content: "·"; }
.post-item .post-tags {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px dashed #ddd; }
.post-item .post-tags .post-tag {
    color: #888;
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer; }
.post-item .post-tags .post-tag:hover {
    color: #f75357; }
.post-item .post-tags .post-tag::before {
    content: "#"; }
.post-item .post-page {
    padding-top: 20px;
    margin-bottom: 30px; }
.post-item .post-page .prev {
    float: right;
    text-align: right; }
.post-item .post-page .next {
    float: left;
    text-align: left; }
.post-item .post-page .tips {
    display: block;
    color: #999;
    font-weight: 600;
    text-transform: uppercase; }
.post-item .post-page .title {
    color: #f75357;
    font-size: 18px; }
.post-item .post-page .title:hover {
    color: #f20b11;
    text-decoration: underline; }

@media (max-width: 768px) {
    .post-row {
        margin-bottom: 15px; }
    .post-row .post-date {
        font-size: 14px; }
    .post-row .post-title {
        display: block;
        line-height: 1; }
    .post-item .post-footer .post-page .tips {
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
        color: #f75357; }
    .post-item .post-footer .post-page .title {
        display: none; } }

.post-toc #TableOfContents {
    padding: 10px 15px; }
.post-toc #TableOfContents > ul {
    padding: 0;
    margin: 0;
    list-style: none; }
.post-toc #TableOfContents > ul ul {
    padding-left: 20px; }
.post-toc #TableOfContents > ul li {
    font-size: 15px;
    line-height: 1.6; }
.post-toc #TableOfContents > ul a:hover {
    color: #f75357; }
.post-toc #TableOfContents > ul > li > ul {
    padding-left: 20px;
    list-style: square; }

.markdown a {
    color: #f52227; }
.markdown a:hover {
    color: #da0a0f;
    text-decoration: underline; }

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    margin: 20px 0;
    color: #333; }
.markdown h1 .header-anchor, .markdown h2 .header-anchor, .markdown h3 .header-anchor, .markdown h4 .header-anchor, .markdown h5 .header-anchor, .markdown h6 .header-anchor {
    font-size: .8em;
    color: #b4b4b4; }
.markdown h1 .header-anchor:hover, .markdown h2 .header-anchor:hover, .markdown h3 .header-anchor:hover, .markdown h4 .header-anchor:hover, .markdown h5 .header-anchor:hover, .markdown h6 .header-anchor:hover {
    color: #f75357;
    text-decoration: none; }

.markdown blockquote {
    margin: 2em 0;
    padding: 10px 20px;
    color: rgba(51, 51, 51, 0.8);
    border-left: 2px solid #f75357;
    background: #f6f6f6;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125); }
.markdown blockquote p {
    margin: 0; }

.markdown img {
    margin: 1em 0;
    max-width: 100%;
    box-shadow: 0 2px 6px rgba(99, 99, 99, 0.3); }

.markdown pre {
    overflow-x: auto;
    background: #f6f6f6;
    font-size: 12px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125); }
.markdown pre code {
    padding: 10px 15px;
    color: #333; }

.markdown code {
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 14px;
    color: #da0a0f;
    background: #f6f6f6;
    word-wrap: break-word; }

.page {
    margin: 0;
    padding: 15px;
    list-style: none;
    text-align: center; }
.page li {
    display: inline-block;
    margin-right: 5px;
    font-family: "Libre Franklin", Georgia, serif; }
.page li a {
    font-size: 22px;
    color: #666; }
.page li a:hover {
    color: #f75357; }
.page li.active a {
    font-size: 28px;
    color: #333; }
.page li.disabled {
    display: none; }
.page li a[aria-label="First"],
.page li a[aria-label="Last"] {
    display: none; }

.sidebar .widget {
    background: #fff;
    margin-bottom: 20px; }
.sidebar .widget .widget-title {
    padding: 8px 0;
    margin: 0 15px;
    font-size: 16px;
    font-family: "Libre Franklin", Georgia, serif;
    font-weight: 400;
    color: #444;
    border-bottom: 1px solid #f1f1f1;
    text-transform: uppercase; }
.sidebar .widget .widget-title::after {
    content: ".";
    font-size: 20px;
    color: #f75357; }

.sidebar .recent-list,
.sidebar .categories-list,
.sidebar .friend-link-list {
    margin: 0;
    padding: 10px 15px;
    list-style: none; }
.sidebar .recent-list .recent-list-item,
.sidebar .recent-list .categories-list-item,
.sidebar .recent-list .friend-list-item,
.sidebar .categories-list .recent-list-item,
.sidebar .categories-list .categories-list-item,
.sidebar .categories-list .friend-list-item,
.sidebar .friend-link-list .recent-list-item,
.sidebar .friend-link-list .categories-list-item,
.sidebar .friend-link-list .friend-list-item {
    font-size: 15px;
    display: block; }
.sidebar .recent-list .recent-list-item .recent-item-link,
.sidebar .recent-list .recent-list-item .categories-item-link,
.sidebar .recent-list .recent-list-item .friend-item-link,
.sidebar .recent-list .categories-list-item .recent-item-link,
.sidebar .recent-list .categories-list-item .categories-item-link,
.sidebar .recent-list .categories-list-item .friend-item-link,
.sidebar .recent-list .friend-list-item .recent-item-link,
.sidebar .recent-list .friend-list-item .categories-item-link,
.sidebar .recent-list .friend-list-item .friend-item-link,
.sidebar .categories-list .recent-list-item .recent-item-link,
.sidebar .categories-list .recent-list-item .categories-item-link,
.sidebar .categories-list .recent-list-item .friend-item-link,
.sidebar .categories-list .categories-list-item .recent-item-link,
.sidebar .categories-list .categories-list-item .categories-item-link,
.sidebar .categories-list .categories-list-item .friend-item-link,
.sidebar .categories-list .friend-list-item .recent-item-link,
.sidebar .categories-list .friend-list-item .categories-item-link,
.sidebar .categories-list .friend-list-item .friend-item-link,
.sidebar .friend-link-list .recent-list-item .recent-item-link,
.sidebar .friend-link-list .recent-list-item .categories-item-link,
.sidebar .friend-link-list .recent-list-item .friend-item-link,
.sidebar .friend-link-list .categories-list-item .recent-item-link,
.sidebar .friend-link-list .categories-list-item .categories-item-link,
.sidebar .friend-link-list .categories-list-item .friend-item-link,
.sidebar .friend-link-list .friend-list-item .recent-item-link,
.sidebar .friend-link-list .friend-list-item .categories-item-link,
.sidebar .friend-link-list .friend-list-item .friend-item-link {
    color: #444;
    line-height: 1.8; }
.sidebar .recent-list .recent-list-item .recent-item-link:hover,
.sidebar .recent-list .recent-list-item .categories-item-link:hover,
.sidebar .recent-list .recent-list-item .friend-item-link:hover,
.sidebar .recent-list .categories-list-item .recent-item-link:hover,
.sidebar .recent-list .categories-list-item .categories-item-link:hover,
.sidebar .recent-list .categories-list-item .friend-item-link:hover,
.sidebar .recent-list .friend-list-item .recent-item-link:hover,
.sidebar .recent-list .friend-list-item .categories-item-link:hover,
.sidebar .recent-list .friend-list-item .friend-item-link:hover,
.sidebar .categories-list .recent-list-item .recent-item-link:hover,
.sidebar .categories-list .recent-list-item .categories-item-link:hover,
.sidebar .categories-list .recent-list-item .friend-item-link:hover,
.sidebar .categories-list .categories-list-item .recent-item-link:hover,
.sidebar .categories-list .categories-list-item .categories-item-link:hover,
.sidebar .categories-list .categories-list-item .friend-item-link:hover,
.sidebar .categories-list .friend-list-item .recent-item-link:hover,
.sidebar .categories-list .friend-list-item .categories-item-link:hover,
.sidebar .categories-list .friend-list-item .friend-item-link:hover,
.sidebar .friend-link-list .recent-list-item .recent-item-link:hover,
.sidebar .friend-link-list .recent-list-item .categories-item-link:hover,
.sidebar .friend-link-list .recent-list-item .friend-item-link:hover,
.sidebar .friend-link-list .categories-list-item .recent-item-link:hover,
.sidebar .friend-link-list .categories-list-item .categories-item-link:hover,
.sidebar .friend-link-list .categories-list-item .friend-item-link:hover,
.sidebar .friend-link-list .friend-list-item .recent-item-link:hover,
.sidebar .friend-link-list .friend-list-item .categories-item-link:hover,
.sidebar .friend-link-list .friend-list-item .friend-item-link:hover {
    color: #f75357; }

.sidebar .tags-cloud {
    padding: 10px; }
.sidebar .tags-cloud .tag-item {
    margin: 0 8px;
    float: left;
    line-height: 1.8;
    text-transform: capitalize; }
.sidebar .tags-cloud .tag-item-link {
    font-size: 15px; }
.sidebar .tags-cloud .tag-item-link:hover {
    color: #f75357; }